<%- include("header") %>

<div class="body">
    <title>Trade Cars - Register</title>
    <h1>Register</h1>
    <div class="register-form">
        <form action="/register" method="post" onsubmit="return checkPasswords();">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" id="password" name="password" required>

            <label>Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <input type="submit" value="Register">
        </form>
    </div>
</div>

<script>
    function checkPasswords() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm_password').value;

        if (password !== confirmPassword) {
            alert('Passwords do not match.');
            return false; 
        }

        return true;  
    }
</script>

<link href="/styles/style.css" rel="stylesheet" type="text/css">
